{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}
virt-vm-form
{% endblock%}
{%block content%}
<div class="container">
<h1>Libvirt form</h1>
<form method="POST" action="{{ url_for('form') }}">
    {{ form.csrf_token }}
    {{ wtf.form_field(form.hostname, placeholder="Ex: Teste-1") }}
    {{ wtf.form_field(form.memory, placeholder="Ex: 1201230") }}
    {{ wtf.form_field(form.unity) }}
    {{ wtf.form_field(form.cpu, placeholder="Ex: 1") }}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>
{% endblock%}